.gridContainer {
    display: grid;
    padding: 0 1.5rem;
    grid-template-columns: auto auto;
    gap: 1rem;
    background: linear-gradient(to top,
            hsl(240, 100%, 5%),
            hsla(240, 100%, 5%, 0.9),
            hsla(240, 100%, 5%, 0.8),
            hsla(240, 100%, 5%, 0.7),
            hsla(240, 100%, 5%, 0.1));
}