#root {
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'regular';
}


@font-face {
    font-family: 'thin';
    src: url('./assets/fonts/NetflixSans_W_Th.woff2');
}

@font-face {
    font-family: 'light';
    src: url('./assets/fonts/NetflixSans_W_Lt.woff2');
}

@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/NetflixSans_W_Rg.woff2');
}

@font-face {
    font-family: 'medium';
    src: url('./assets/fonts/NetflixSans_W_Md.woff2');
}


@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/NetflixSans_W_Bd.woff2');
}

@font-face {
    font-family: 'bulky';
    src: url('./assets/fonts/NetflixSans_W_Blk.woff2');
}

:root {
    --Red: 357, 92%, 47%;
    --Blue: 210, 100%, 50%;
    --Dark-blue: 223, 56%, 17%;
    --Light-gray: 0, 0%, 50%;
    --Gray: 0, 0%, 9%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: hsl(var(--Dark-blue));
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--Red));
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(357, 92%, 40%);
}

/* .bg-grad {
    background: radial-gradient(99.93% 134.44% at 17.93% 0%,
            #09143c 0%,
            #101338 57.21%,
            #400e20 99.57%);
} */