.container{
    display: flex;
    flex-direction: column;
    padding: 3.75rem 5.75rem;
    margin-bottom: 3.25rem;
}

.wrapper{
    max-width: 45%;
}

.titleText{
    font-family: 'bold';
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.descText{
    font-family: 'medium';
    font-size: 1.125rem;
}